{% extends "ecologica/index.html" %}
{% load i18n admin_static %}

{% block extrascripts %}
<script src="{% static 'js/Modulos/Facturacion.js' %}"></script>
{% endblock %}

{% block title %}Producción Ecológica|Archivo Facturación{% endblock %}

{% block extrastyle %}

<style type="text/css">
	  .css-form input.ng-invalid.ng-touched {
		background-color: #FA787E;
	  }

	  .css-form input.ng-valid.ng-touched {
		background-color: #78FA89;
	  }
	  .css-form select.ng-invalid.ng-touched {
		background-color: #FA787E;
	  }

	  .css-form select.ng-valid.ng-touched {
		background-color: #78FA89;
	  }
</style>

{% endblock %}

{% load i18n %}
{% load index %}
{% block breadcrumbs %}
			<div class="row panel panel-default">
			<div class="panel-heading">
			  <div class="row ">
			  <div class="container-fluid">
				<div class="navbar-header">
					<ul class="breadcrumb">
					  <li><a id="breadmio" href="{% url 'ecologica:index' %}">Dashboard</a></li>
					   <li><a id="breadmio" href="{% url 'ecologica:clientes' %}">Clientes</a></li>					   
					  <li class="active"><strong>Facturación</strong></li>
					</ul>
				</div>
				</div>
			</div>
			</div>
			</div>

{% endblock %}


{% block content %}

{{debug}}

<div class="row" ng-app="Facturacion">
	<div class="col-lg-4">
		<div class="panel panel-info" ng-controller="Factura" ng-init ="iniciaFactura()">
			<div class="panel-heading">
				<strong>Archivo de Facturación</strong>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label>Fecha de Inicio</label>
								<input id="fact" type="date" class="form-control" name="fact" ng-model="fini">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label>Fecha Fin</label>
								<input id="fact" type="date" class="form-control" name="fact" ng-model="ffin">
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<label class="text-success"><input id="dfact" type="radio" ng-model="dfact" value="1"> Expedientes Facturados</label>
								<label class="text-danger"><input id="dfact" type="radio" ng-model="dfact" value="2"> Expedientes pendientes de facturar</label>
							</div>
						</div>
				</div>
			   
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="generaFactura()">Generar Archivo <i class="fa fa-download"></i></button>
			</div>
			
		</div>
		</div>
		<div class="col-lg-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<strong>Histórico facturación</strong>
			</div>
			<!-- /.panel-heading -->

			<div class="panel-body" style="max-height: 308px ;overflow-y: scroll;">
				<div class="table-responsive">

					<table id="expedientesTabla" class="table table-striped table-bordered table-hover">
						
						<thead>
							<tr>
								<th class="text-center" width="40">#</th>
								<th>Fecha de Facturación</th>
								<th>Expediente</th>
								<th>Operador</th>
								<th>Concepto</th>
								<th>Importe</th>
							</tr>
						</thead>
						<tbody>
							{% for factura in facturas %}
							<tr>
								<td class="text-center">{{facturas|index:factura.id}}</td>
								<td>{{factura.f_fact|date:"SHORT_DATE_FORMAT"}}</td>
								<td>{{factura.expediente.CodOperador}}</td>
								<td>{{factura.expediente.id_cliente.Nombre}} {{factura.expediente.id_cliente.Apellido1}} {{factura.expediente.id_cliente.Apellido2}}</td>
								<td>{{factura.concepto}}</td>
								<td>{{factura.importe}} €</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					

				</div>

			</div>
		</div>
		
	</div>
</div>
{% endblock %}