{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>


<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}Producción Ecológica{% endblock %}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/select2.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>

 <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
 <script src="{% static 'js/jquery-ui.min.js' %}"></script>
 <script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-resource.min.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static 'js/ui-bootstrap-tpls-0.6.0.js' %}"></script>
<script src="{% static 'js/cookies.js' %}"></script>
<script src="{% static 'js/devoops.js' %}"></script>
<script src="{% static 'js/Modulos/Validaciones.js' %}"></script>
{% block extrascripts %}{% endblock %}


{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" charset="windows-1252"/>{% endblock %}
</head>
{% load i18n %}

<body>
	
	<div id="screensaver">
	<canvas id="canvas"></canvas>
	<i class="fa fa-lock" id="screen_unlock"></i>
</div>
<div id="modalbox">
	<div class="devoops-modal">
		<div class="devoops-modal-header">
			<div class="modal-header-name">
				<span>Basic table</span>
			</div>
			<div class="box-icons">
				<a class="close-link">
					<i class="fa fa-times"></i>
				</a>
			</div>
		</div>
		<div class="devoops-modal-inner">
		</div>
		<div class="devoops-modal-bottom">
		</div>
	</div>
</div>
<header class="navbar">
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-2">
				<a href="{% url 'ecologica:index' %}">Producción Ecológica</a>
			</div>
			<div id="top-panel" class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-xs-8 col-sm-4">
						<a href="#" class="show-sidebar">
						  <i class="fa fa-bars"></i>
						</a>
						
					</div>
					<div class="col-xs-4 col-sm-8 top-panel-right">
						<ul class="nav navbar-nav pull-right panel-menu">
							<!--<li class="hidden-xs">
								<a href="index.html" class="modal-link">
									<i class="fa fa-bell"></i>
									<span class="badge">7</span>
								</a>
							</li>
							<li class="hidden-xs">
								<a class="ajax-link" href="ajax/calendar.html">
									<i class="fa fa-calendar"></i>
									<span class="badge">7</span>
								</a>
							</li>
							<li class="hidden-xs">
								<a href="ajax/page_messages.html" class="ajax-link">
									<i class="fa fa-envelope"></i>
									<span class="badge">7</span>
								</a>
							</li>-->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
									<!--<div class="avatar">
										<img src="img/avatar.jpg" class="img-rounded" alt="avatar" />
									</div>-->
									<i class="fa fa-angle-down pull-right"></i>
									<div class="user-mini pull-right">
										<span class="welcome">Bienvenido,</span>
										<span>{% firstof user.get_full_name user.get_username %}</span>
									</div>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											<span>Perfil</span>
										</a>
									</li>
									<li>
										<a href="{% url 'ecologica:password_change' %}">
											<i class="fa fa-cog"></i>
											<span>Cambiar contraseña</span>
										</a>
									</li>
									<li>
										<a href="{% url 'ecologica:logout' %}">
											<i class="fa fa-power-off"></i>
											<span>Logout</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
	
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
				<li>
					<a href="{% url 'ecologica:index' %}" class="active">
						{% if tipoUs != 'A' %}<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">Dashboard</span>{% endif %}
						{% if tipoUs == 'A' %}<i class="fa fa-th-list"></i>
						<span class="hidden-xs">Listado de Expedientes</span>{% endif %}
					</a>
				</li>
				{% if consultaCliente == 'SI' or creaCliente == 'SI' %}
				<li class="dropdown">
					<a data-toggle="collapse" href="#MenuClientes" aria-expanded="false" aria-controls="MenuClientes">
						<i class="fa fa-users"></i>
						<span class="hidden-xs">Clientes</span>
					</a>
					<ul  class="collapse" id="MenuClientes">
						{% if consultaCliente == 'SI' %}
						<li><a href="{% url 'ecologica:clientes' %}">Ver clientes</a></li>
						{% endif %}
						{% if creaCliente == 'SI' %}
						<li><a href="{% url 'ecologica:nuevoCliente' %}">Crear cliente</a></li>
						{% endif %}
					</ul>
				</li>
				{% endif %}
				{% if tipoUs != 'A' %}
				{% if consultaExpediente == 'SI' %}
				<li>
					<a href="{% url 'ecologica:expedientes' %}" class="dropdown-toggle">
						<i class="fa fa-th-list"></i>
						<span class="hidden-xs">Expedientes</span>
					</a>
				</li>
				{% endif %}
				
				{% if generaNuevosClientes == 'SI' or consultaExpediente == 'SI' or consultaCertificados == 'SI' or consultaRiesgos == 'SI' or consultaPlanificadas == 'SI' or consultaAuditorias == 'SI' or consultaFacturacion == 'SI'%}
				<li class="dropdown">
					<a data-toggle="collapse" href="#MenuConsultas" aria-expanded="false" aria-controls="MenuConsultas">
						<i class="fa fa-clipboard"></i>
						<span class="hidden-xs">Informes y Consultas</span>
					</a>
					<ul class="collapse" id="MenuConsultas">
						{% if consultaAuditorias == 'SI' %}
						<li><a href="{% url 'ecologica:auditoriasRealizadas' %}">Auditorías</a></li>
						{% endif %}
						<li><a href="{% url 'ecologica:datosPagos' %}">Datos Pagos</a></li>
						{% if consultaRiesgos == 'SI' %}
						<li><a href="{% url 'ecologica:riesgos' %}">Evaluación de riesgos</a></li>
						{% endif %}
						{% if consultaCertificados == 'SI' %}
						<li><a href="{% url 'ecologica:expedientesCertificados' %}">Expedientes Certificados</a></li>
						{% endif %}
						{% if consultaExpediente == 'SI' %}
						<li><a href="{% url 'ecologica:expedientesVigor' %}">Expedientes en Vigor</a></li>
						{% endif %}
						{% if consultaFacturacion == 'SI' %}
						<li><a href="{% url 'ecologica:factura' %}">Facturación</a></li>
						{% endif %}
						{% if generaNuevosClientes == 'SI' %}
						<li><a href="{% url 'ecologica:excelfile1' %}">Nuevos Clientes</a></li>
						{% endif %}
						{% if consultaPlanificadas == 'SI' %}
						<li><a href="{% url 'ecologica:visitasPlanificadas' %}">Visitas Planificadas</a></li>
						{% endif %}
					</ul>
				</li>
				{% endif %}
				{% endif %}
				{% if consultaInspectores == 'SI' or creaInspector == 'SI'%}
				<li class="dropdown">
					<a data-toggle="collapse" href="#MenuInspectores" aria-expanded="false" aria-controls="MenuInspectores">
						<i class="fa fa-edit"></i>
						<span class="hidden-xs">Inspectores</span>
					</a>
					<ul class="collapse" id="MenuInspectores">
						{% if consultaInspectores == 'SI' %}
						<li><a href="{% url 'ecologica:inspectores' %}">Ver inspectores</a></li>
						{% endif %}
						{% if creaInspector == 'SI' %}
						<li><a href="{% url 'ecologica:nuevoInspector' %}">Crear Inspector</a></li>
						{% endif %}
					</ul>
				</li>
				{% endif %}
				
	
			</ul>
		</div>
		<!--Start Content-->
		
		<div id="content" class="col-xs-12 col-sm-10">
			{% block breadcrumbs %}
			{% endblock %}
			{% block content %}
			{% endblock %}
		</div>
		<!--End Content-->
	</div>
</div>
	
<!-- END Container -->

</body>


</html>

